%%-*- mode: erlang -*-

{cover_enabled, true}.

{erl_opts, [debug_info,
            warnings_as_errors,
            {parse_transform, lager_transform}]}.

{edoc_opts, [{preprocess, true}]}.

{deps, [
    {cowboy, ".*",
        {git, "git://github.com/extend/cowboy.git", "master"}},
    {mimetypes, ".*",
        {git, "git://github.com/spawngrid/mimetypes.git", "master"}},
    {lager, ".*",
        {git, "git://github.com/basho/lager.git", "master"}},
    {mochiweb, ".*",
        {git, "git://github.com/mochi/mochiweb.git", "master"}}
]}.
